<p> if you want to create a new angular web app so you can use a alphanumeric latter also exmplpe of "ng new
  D22-M5-Y2021" like this you can try your app to using this and also provide to all constraints
</p>
<br>
<code>
cd > d: <br>
 d:> mkdir "Angular App"<br>
 d:> cd "Angular App"<br>
 d:\Angular App> ng new D22-M5-Y2021<br>
if your project will created a successfully then changed directory to angular app project<br>
</code>
<br>
<code>
 d:\Angular App> cd D22-M5-Y2021
</code>
<br>
<code>
  d:\Angular App\D22-M5-Y2021>
now you
</code>
<code>


npm i angular-cli-ghpages --save-dev<br>

<code>

npx ngh --dir=deploy --branch=main<br>
</code>
<code>


git commit -m "first commit"<br>
git branch -M main<br>
git remote add origin https://github.com/nayneshrathod/today-22-05-2021-Angular-app.git<br>
git push -u origin main<br>

</code>
<code>
ng build --prod --baseHref="https://nayneshrathod.github.io/today-22-05-2021-Angular-app/"<br>
git add .<br>
git commit -m "first commit"<br>
git branch -M main<br>
git remote add origin https://github.com/nayneshrathod/today-22-05-2021-Angular-app.git<br>
git push -u origin main<br>
git checkout -b deploy-site <br>
npx ngh --dir=deploy --branch=deploy-site <br>
</code>

<router-outlet></router-outlet>








ng build --prod --baseHref="https://nayneshrathod.github.io/today-22-05-2021-Angular-app/"
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/nayneshrathod/today-22-05-2021-Angular-app.git
git push -u origin main
git checkout -b deploy-site 
npx ngh --dir=deploy --branch=deploy-site
